[submodule "wp-content/plugins/woocommerce"]
	path = wp-content/plugins/woocommerce
	url = https://github.com/woocommerce/woocommerce.git
[submodule "wp-content/plugins/spinupwp"]
	path = wp-content/plugins/spinupwp
	url = https://github.com/deliciousbrains/spinupwp-plugin.git
[submodule "wp-content/plugins/limit-login-attempts-reloaded"]
	path = wp-content/plugins/limit-login-attempts-reloaded
	url = https://github.com/WPChef/limit-login-attempts-reloaded.git
[submodule "wp-content/plugins/woocommerce-payments"]
	path = wp-content/plugins/woocommerce-payments
	url = https://github.com/Automattic/woocommerce-payments.git
